[Unit]
Description=Servicio de saludo
After=network.target

[Service]
ExecStart=/usr/local/bin/saludo.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
